.shadow {
box-shadow: 10px 10px 5px #888888;
}

.button{
padding:5px;
color:lightseagreen;
background:navy;
cursor:pointer;
}

audio {
 max-width: 100%; 
}

video { 
  max-width:  100%;
  height:auto;
}

.video, .audio {
    margin:0;
    display: grid;  /*This needs to be set or it won't center*/
    justify-content:space-around;
}

img {
  max-width:100%;
}

.travelpicture{
  margin:auto;
}

body {
  font-family: Verdana;
  background: linear-gradient(to right, gray, gray);
  margin:0;
}

.main2{
  grid-area: main2;
}

.main1{
   grid-area: main1;
}

   
aside {
  grid-area:aside;
  background:#CBC016;
  padding:10px 0;
}

aside h2{
  color: navy;
  padding: 10px;
}

aside li{
  color: navy;
  padding:10px 0;
}

aside a:hover{
  color: navy;
}

aside a{
  color: white;
}
 
header {
  grid-area:header;
  background:#CBC016;
  padding:5px;
  text-align:center;
 }

header h1 {
  font-size:5vw;
  color:navy;
  font-family:Impact;
  text-shadow: 2px 2px 5px gray;
  margin: 0;
}

header h3 {
  font-size:2vw;
  color:navy;
  margin:0;
}

nav {
  grid-area:nav;
  background:#CBC016;
}
    
nav ul {
  padding:10px;
  margin:0;
}

nav li {
  padding:10px 10px;
  list-style-type:none;
  font-size:1.5em;
  font-weight:bold;
}

form {
    background-color:navy;
    width:90%;
    margin:auto;
    color:white;
    padding:10px;
}

input {
  margin: 1px 0 10px 0;
}

nav a {
  text-decoration:none;
  color:navy;
}

a:hover {
  color:white;
}

main {
  grid-area:main;
  background:#CBC016;
  padding:5px;
}

main h2 {
  text-align:center;
  color:navy;
  margin:1%;
}

main p {
  color:white;
  padding:1% 2%;
  font-size:1em;
}

footer {
  grid-area:footer;
  background:#CBC016;
  padding:5px;
  text-align:center;
}

footer p {
  font-size:1em;
  color:white;
  margin:0;
}

.call{
    color:white;
    text-align:center;
    font-size:2em;
    background-color:navy;
    width:60%;
    padding: 5px 0 0 0;
    margin:10px auto 0 auto;
    cursor:pointer;
}

.phone{
    color:gray;
    background-color:navy;
    padding:5px;
    text-align:center;
    font-size:.75em;
    cursor:pointer;
    display:none;
}
	
article{
background:#CBC016;	
padding: 5px;
}

article h2{
text-align:center;
color: navy;
margin: 1%;
}

article p{
color:white;
padding: 1% 2%;
font-size:1em;
}
	
.top{
grid-area: top;
}	

.middle{
grid-area: middle;
}

.bottom{
grid-area: bottom;
}

figure{
margin:0;
text-align:center;
}

figcaption{
padding: 5px;
color:navy;
font-weight:bold;
}

figure img{
padding-top: 10px;
}

section{
grid-area:section;
}

.div1{
grid-area:div1;
}

.div2{
grid-area:div2;
}

.fig1{
grid-area:fig1;
background:#CBC016;
}

.fig2{
grid-area:fig2;
background:#CBC016;
}
/*---------------------------Mobile Layout Styles----------------------------*/
.container1 { /*for index.html*/
  display: grid;
  grid-template-columns:100%;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
    "aside";   
    }

.container2 { /*for blog.html*/
  display: grid;
  grid-template-columns:100%;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "top"
    "middle"
    "bottom"
    "footer";
    }

.container3 { /*for special.html*/
  display: grid;
  grid-template-columns:100%;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "fig2"
    "footer";   
    }
.nestedgrid{
   display:grid;
   grid-template-areas:
   "section"
   "fig1";
}

.container4 { /*for destination.html*/
  display: grid;
  grid-template-columns:100%;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";   
    }
.nestedgrid2{
   display:grid;
   grid-template-areas:
   "div1"
   "div2";
}

.container5 { /*for contact.html*/
  display: grid;
  grid-template-columns:100%;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header"
    "nav"
    "main1"
    "main2"  
    "footer";   
    }

/*This stuff is for the hamburger menu*/
.toggleNav {
    display:grid; /*This is what allows the hamburger icon and "Menu" to display*/
    text-align:center;
    font-size:1.5em;
    font-weight:bold;
    padding:10px;
    }

#flex-nav ul {
    display: none; /*jQuery toggles the nav from to this class to the .open when clicked*/
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
 
#flex-nav ul.open { /*.open is the class that gets toggled when clicked (with help from the jQuery code)*/
    display:grid;
    }
    
#flex-nav li {
    padding-left:10px;
    padding-top:10px;
    }

/*-----------------------Tablet Media Query------------------------*/
@media only screen and (min-width: 480px)  {
.container1 { /*for index.html*/
  grid-template-columns:auto 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "aside aside"
    "footer footer";
    }

.container2 { /*for blog.html*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header"
    "nav main"
    "top top"
    "middle middle"
    "bottom bottom"
    "footer footer";
    }
	
.container3 { /*for special.html*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
   "header header"
   "nav main"
   "fig2 fig2"
   "footer footer";
 }

.nestedgrid{
   display:grid;
   grid-template-areas:
   "section"
   "fig1";
}

.container4 { /*for destination.html*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";   
    }
.nestedgrid2{
   display:grid;
   grid-template-areas:
   "div1"
   "div2";
}
	
.container5 { /*for contact.html*/
  display: grid;
  grid-template-columns:auto 1fr 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header header"
    "nav main1 main2"
    "footer footer footer";   
    }
/* Below will change from hamburger menu to side navigation*/
  
.toggleNav {
    display: none; /*Makes the hamburger icon with the word "Menu" to disappear at this screen size*/
  }
  
#flex-nav ul {
    display:grid;
    text-align:left;
  }

#flex-nav li {
    padding-left:10px;
    padding-top:10px;
  } 

	}

/*-----------------------Desktop Media Query------------------------*/
@media only screen and (min-width: 960px)  {

.container1 { /*for index.html*/
  grid-template-columns:auto 1fr 25%;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
    }
	
.container2 { /*for blog.html*/
  display: grid;
  grid-template-columns: auto 1fr 1.5fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header header"
    "nav main top"
    "nav main middle"
    "nav main bottom"
    "footer footer footer";
    }
	
   .container3 { /*for special.html*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
   "header header"
   "nav main"
   "fig2 fig2"
   "footer footer";
 }
	
.nestedgrid{
   display:grid;
   grid-template-areas:
   "section fig1";
}	

.container4 { /*for destination.html*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";   
    }
.nestedgrid2{
   display:grid;
   grid-template-areas:
   "div1 div2";
	}
.container5 { /*for contact.html*/
  display: grid;
  grid-template-columns:auto 1fr 1.5fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header header"
    "nav main1 main2"
    "footer footer footer";   
    }
